/* You can add global styles to this file, and also import other style files */
@viewport {
    width: device-width ;
    zoom: 1.0 ;
}
@-ms-viewport {
    width: device-width ;
}
  
body, html {
    background-color: #EFF3F6;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}